<h2><%= link_to @actor.name, actor_path(@actor) %></h2>

<%= @actor.platform %><br>
<%= @actor.protocol %><br>
<%= link_to 'Destroy', actor_path(@actor),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

