
<h4>Add existing Actor</h4>
<div class="row">
	<div class="col-sm-12">
		<%= form_for @request, :url => add_actors_request_path(@request), remote: true do |f| %>
				<%= f.collection_select :actor_ids, Actor.where('id NOT IN (?)',@request.actor_ids), :id, :name, { include_blank: "Select an existing Actor/System"},{multiple: true,class: 'form-control'} %>
			<%= f.submit %>
		<% end %> 
	</div>				
</div>		
