<h1>Actors#index</h1>

<% if params.has_key?(:request_id)  %>
	<%= link_to 'New Actor', new_request_actor_path , remote: true, class: 'btn-primary btn'%>
<% else %>
	<%= link_to 'New Actor', new_actor_path , remote: true%>
<% end %>
<div class="row">
	<div id="actor-form" class="new-form col-sm-6">

	</div>
</div>
<div id="actors">
	<%= render @actors %>
</div>
