<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-9 col-xs-12">
					<span class="text-muted"><b>Data Flows</b></span><br><br>
					<span>You can choose from existing Actors from past integrations, or you can create new ones. </span>
				</div>
				<div class="col-sm-3 hidden-xs">
					<%= image_tag("actors", size: "130x130") %>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="flows">
	<% @flows.each do |flow| %>
		<%= render flow %>
	<% end %>
</div>
<div id="flow-form">

</div>
<%= link_to new_request_flow_path, remote: true do %>
    <div class="col-sm-offset-4 col-sm-3">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-info">New Dataflow</button>
    </div>
<% end %>
