	<div class="col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-6">
						<span class="text-muted"><b>Business Context</b></span><br><br>
						<span> This section is dedicated for the description of the Business Context and domain the integration is supposed to exist and function in.
						ENFO needs to know the purpose of the integration in order to create an integration that fulfills the intended business value and process</span>
					</div>
					<div class="col-sm-4 border-left">
						<div class="row">
							<div class="col-sm-10 col-sm-offset-2">
								<span class="text-muted">Ownership:</span>
								<table id="owners" class="col-sm-10">
									<%= render @bc.owners , :ownerable => @bc%>
								</table>
								<%= render 'owners/existing_owners', :ownerable => @bc, :request => @request %>
							</div>
						</div>
						<div class="col-sm-8">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="headings" class="col-xs-12">
	<%-# sätter headerable till bc, då _headings partialen är tänkt att vara polymorfisk. dvs oboeroende av vilken context den är %>
	<% @headerable = @bc %>
	<%= render @headings %>
</div>

<div class="col-xs-10">
	<div style="display:none" class="row" id="heading-form">
		<!--placeholder !-->
	</div>
</div>



<%= link_to new_business_context_heading_path(@bc),remote: true do %>
  <div class="col-sm-offset-4 col-sm-3">
    <button type="button" class="btn btn-primary btn-lg btn-block btn-info">New Heading</button>
  </div>
<% end %>
<br>
