<div class="row">
    <div class="col-sm-4">
	<h3>Description:</h3>
	<p><%= @bc.description %></p>
    </div>
    <div class="col-sm-4">
	<h3>As-Is:</h3>
	<p><%= @bc.as_is_image %></p>
    </div>
    <div class="col-sm-4">
	<h3>To-Be:</h3>
	<p><%= @bc.to_be_image %></p>
    </div>
  </div>

<%= link_to 'Edit' , edit_request_business_context_path %>
