<div class="row">
		<div class="col-sm-6">
			Business Context
		</div>
		<div class="col-sm-6">
			<div class="row">
				<table id="owners" class="col-sm-8">
					<%= render @bc.owners , :ownerable => @bc%>
				</table>
			</div>
			<div class="col-sm-8">
				<%= render 'owners/existing_owners', :ownerable => @bc, :request => @request %>
			</div>
		</div>
</div>
<div id="headings" class="col-xs-12">
	<%-# sätter headerable till bc, då _headings partialen är tänkt att vara polymorfisk. dvs oboeroende av vilken context den är %>
	<% @headerable = @bc %>
	<%= render @headings %>
</div>

<div class="col-xs-10">
	<div style="display:none" class="row" id="heading-form">
		<!--placeholder !-->
	</div>
</div>



<%= link_to new_business_context_heading_path(@bc),remote: true do %>
  <div class="col-sm-offset-4 col-sm-3">
    <button type="button" class="btn btn-primary btn-lg btn-block btn-info">New Heading</button>
  </div>
<% end %>
<br>
