<div id="headings">
	<%-# sätter headerable till bc, då _headings partialen är tänkt att vara polymorfisk. dvs oboeroende av vilken context den är %>
	<% @headerable = @bc %>
	<%= render @headings %>
</div>
<div style="display:none" class="row" id="heading-form">
	<div class="col-sm-8">

	</div>
</div>
<div>
<%= link_to 'New Heading' , new_business_context_heading_path(@bc), class: 'btn btn-default' ,remote: true  %>
</div>
<br>
