.absolute-top-right{
	#position:absolute;
	text-align:center;
	vertical-align:center;
	display:block;
	width:35px;
	height:35px;
	float:right;
	margin-right:20px;
	clear:both;
}


.attachment-remove-align {
	width:100%;
}
.glyphicon-remove-circle {
	font-size:25px;
}

#wrapper {
	margin-left: 8%;
	margin-right: 8%;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
}

body {
  #background-image: image-url("noisy-texture.png");
  background-color: #fdfdfd;
}

.headercontainer {
	position: relative;
}

.headerglyph {
	position: absolute;
    bottom: 5px;
    right: 0;
}

.glyphicon-plus {
	font-size: 10px;
}

.row {
	border-style: none;
}

div {
	border-style: none;
}

.maincontainer {
	#background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navcontainer {
	background-color: #0069B4;
	color: #FFFFFF;
	position: relative;
}

.headercontainer {
	background-color: #FFFFFF;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}


.glyphicon-home{
	font-size: 45px;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.nav-pills > li.active > a {
	background-color: #0069B4;
}
.img-wrap {
    position: relative;
}
.img-wrap .close {
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 100;
}
.row-top-20 {
	margin-top:20px;
}
.row-bottom-20 {
	margin-top:20px;
}
.border-left {
	border-left:1px solid gray;
}
.border-bottom{
	border-bottom:1px solid gray;
}
.padding-3 td {
	padding:3px;
}
