.absolute-top-right{
	#position:absolute;
	text-align:center;
	vertical-align:center;
	display:block;
	width:35px;
	height:35px;
	float:right;
	margin-right:20px;
	clear:both;
}
.attachment-remove-align {
	width:100%;
}
.glyphicon-remove-circle {
	font-size:25px;
}
