	<div class="col-sm-2">
			<div width="150px" height="150px">
				<%= image_tag (upload.attachment.url(:original)), :class => "img-thumbnail thumbnail inline", :style => "width:150px"%>
			</div>
		</div>		

	</div>
