<div class="col-sm-2" id="upload-<%= upload.id %>" >
		<div width="150px" height="150px" style="display:block">

		<%if upload.attachment.present?%>
			<% if upload.attachment.content_type.include? "image" %>
				<%=link_to (image_tag (upload.attachment.url(:original)),:alt => "", :class => "img-thumbnail thumbnail inline", :style => "width:150px, height:150px, display:block"), upload.attachment.url(:original, false)%>
			<% else %>
				<%=link_to (image_tag 'doc-icon.png',:alt => "", :class => "img-thumbnail thumbnail inline", :style => "width:150px, height:150px"), upload.attachment.url(:original, false)%>
			<% end %>
		<% end %>
		</div>
			<% if @edit.present?%>
				<% if edit == true %>
				<div class="actions">
					<%= link_to 'Delete', heading_upload_path(heading,upload), remote: true, method: :delete,data: {confirm: 'Are you sure?' }, :class=>'btn btn-default' , :heading_id => heading.id%>
					
				</div>
				<% end%>
			<% end%>
</div>

