<ul class="nav nav-pills">
	<%-#använder HELPERN nav_link för att sätta class="active", den kollar vilken controller som används och sätter dit class="active" ifall det är den controllern som används #-%>
	  <li role="presentation" ><%= nav_link_to 'Integration', request_path(@request.id),{},{:wrapper => 'li'} %></li>
	  <li role="presentation" ><%= nav_link_to 'Business Context', request_business_context_path(@request.id),{}, {:wrapper=> 'li',:controller_segment => 1} %></li>
</ul>
