


<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><%= link_to 'Integration', request_path(@request.id) %></li>
	  <li role="presentation" class="active"><%= link_to 'Business Context', request_business_context_path(@request.id) %></li>
</ul>
